Simulateur-Python/controllers/thymio_manual_control1/.directory
Simulateur-Python/worlds/.*
Simulateur-Python/controllers/tp2/__pycache__/
Simulateur-Python/controllers/tp2/rascunho/
Simulateur-Python/Python39